@use 'variables' as *;

.about {
    background-image: url("../Assets/aboutback.png");
    background-size: cover;
    padding: 70px 0px 100px;
}

.title {
    font-size: 35px;
    width: 185px;
    visibility: hidden;

    @include typing;

    &.visible {
        visibility: visible;
        animation:
            typing 2s steps(16),
            cursor .5s step-end infinite alternate;
    }
}

.aboutmain {
    margin-top: 50px;
    display: flex;
}

.abouttext {
    font-size: 20px;
    color: $primary-color;
    width: 600px;
    margin-bottom: 10px;

    span {
        color: $secondary-color;
        font-weight: bold;
    }
}

.highlight {
    color: $secondary-color;
    font-weight: bold;
}

#gojo-about {
    margin-left: 110px;
}

.techno {
    color: $primary-color;
    font-size: 18px;
    margin: 0px 0px 0px 15px;
}

.technopoint {
    width: 13px;
    height: 13px;
    margin-top: 7px;
}

.technologies {
    display: block;
    margin-top: 25px;
    margin-left: 200px;
}

.technodev {
    display: flex;
    margin-top: 20px;
}

.tech {
    display: flex;
    margin-bottom: 35px;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease, transform 1s ease;

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }
}

.techright {
    margin-left: 80px;
}

@media only screen and (max-width: 900px) {
    #gojo-about {
        margin-left: 17%;
        margin-bottom: 10px;
        width: 65%;
        height: 65%
    }

    .aboutmain {
        margin: 0 auto;
        align-items: center;
        display: block;
        padding-bottom: 40px;
    }

    .technologies {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        gap: 15px;
    }

    .tech {
        margin-bottom: 15px;
    }

    .title {
        margin-bottom: 5px;
    }

    .abouttext {
        width: 90%;
        margin: 0 auto;
    }
}
