@use 'variables' as *;

.footer {
    background-color: $background-color;
    padding-bottom: 50px;
    padding-top: 140px;
}

.footertext {
    text-align: center;
    font-size: 12px;
    color: $primary-color;
    opacity: 0.6;
}