@use 'variables' as *;

.header {
    background-image: url("../Assets/headerback.png");
    background-size: cover;
    height: 100vh;
}

.mainpart {
    display: flex;
    justify-content: center;
    gap: 150px;

    &-phone {
        padding-left: 85px;
        padding-top: 200px;
    }
}
  
.first-text {
    font-weight: bold; 
    font-size: 55px;
    color: $primary-color;
    margin-bottom: 20px;
    width: 410px;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(16),
        cursor .5s step-end infinite alternate;

    span {
        color: $secondary-color;
    }
}

@keyframes cursor {
    50% { border-color: transparent }
}

@keyframes typing {
    from { width: 0 }
}

.second-text {
    font-size: 22px;
    color: #d3d3d3;
    margin-top: 0px;
    margin-bottom: 27px;
    width: 450px;
}

.check-out {
    font-size: 20px;
    font-weight: bold;
    color: $secondary-color;
    padding: 17px 45px;
    border: 4px solid $secondary-color;
    border-radius: 50px;
    background: transparent;
    cursor: pointer;

    &:hover {
        border: 4px solid transparent;
        color: $primary-color;
        background: $secondary-color;
    }
}

#computerCanvas {
    height: 700px !important;
    width: 700px !important;
    padding-top: 120px;
}

#computerCanvasPhone {
    display: none;
}

@media only screen and (max-width: 900px) {
    .mainpart {
        flex-direction: column;

        &-phone {
            text-align: center;
            padding-left: 0px;
            padding-top: 60px;
        }
    }

    .first-text {
        font-size: 40px;
        margin-bottom: 7%;
        margin: 0 auto;
        width: 310px;
    }

    .second-text {
        font-size: 120%;
        margin-bottom: 7%;
        margin: 0 auto;
        width: 90%
    }

    #computerCanvas {
        display: none;
    }
    
    #computerCanvasPhone {
        display: flex;
        margin: 0 auto;
        height: 400px !important;
        width: 500px !important;
    }
}

@media only screen and (max-width: 500px) {
    #computerCanvasPhone {
        width: 400px !important;
    }
}

@media only screen and (max-width: 400px) {
    #computerCanvasPhone {
        height: 350px !important;
        width: 350px !important;
    }
}