@use 'variables' as *;

.projects {
    background: $background-color;
    padding-top: 70px;
}

.titleprojects {
    margin: 0 auto;
    font-size: 35px;
    width: 150px;
    visibility: hidden;

    @include typing;

    &.visible {
        visibility: visible;
        animation:
            typing 2s steps(16),
            cursor .5s step-end infinite alternate;
    }
}

.projectsfirstline, .projectssecondline {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.folder {
    margin-left: 80px;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 1s ease-out, transform 1s ease-out;

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }

    &.hidden {
        opacity: 0;
        transform: translateY(20px);
    }

    &#folderfirst {
        margin-left: 0px;
    }
}

.foldericon {
    position: absolute;
    margin-top: 37px;
    margin-left: 30px;
}

.githubicon {
    position: absolute;
    margin-top: 45px;
    margin-left: 215px;
    width: 20px;
    height: 20px;

    &#githubiconone {
        margin-left: 245px;
    }
}

.linkicon {
    position: absolute;
    margin-top: 45px;
    margin-left: 248px;
}

.foldertitle {
    position: absolute;
    font-size: 23px;
    color: $primary-color;
    margin-top: 100px;
    margin-left: 30px;
    width: 200px;
}

.foldertext {
    position: absolute;
    font-size: 16px;
    color: $primary-color;
    margin-top: 175px;
    margin-left: 30px;
    width: 235px;
}

.foldertechno {
    position: absolute;
    font-size: 15px;
    color: $primary-color;
    font-weight: bold;
    margin-top: 285px;
    margin-left: 30px;
}

.foldertextsmall {
    position: absolute;
    font-size: 16px;
    color: $primary-color;
    margin-top: 145px;
    margin-left: 30px;
    width: 245px;
}

.foldertechnosmall {
    position: absolute;
    font-size: 15px;
    color: $primary-color;
    font-weight: bold;
    margin-top: 250px;
    margin-left: 30px;
}


@media only screen and (max-width: 900px) {
    .titleprojects {
        margin-bottom: 30px;
    }

    .projectsfirstline, .projectssecondline {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .folder {
        margin-top: 30px;
        margin-left: 20px;
        padding-right: 20px;
    }
}
